name: Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python: [3.7, 3.8]

    steps:

      - uses: actions/checkout@v1

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Install Code Climate tools
        if: matrix.python == 3.8
        run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade coverage setuptools tox

      - name: Run tests
        run: tox -e py

      - name: Send test report to Code Climate
        if: matrix.python == 3.8 && success()
        env:
          CC_TEST_REPORTER_ID: 70e68b22b9022f5fe5b0a296ef6760a372c2ae7e9167a3d0847ee0145634e6dc
        run: |
          coverage xml
          ./cc-test-reporter after-build
